* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: sans-serif;
    color: #252525;
    background-color: #252525;
}

button {
    font: inherit;
    cursor: pointer;
    background-color: #9b4444;
    border: 1px solid #9b4444;
    color: white;
    padding: 0.5rem 1.5rem;
    border-radius: 6px;
}

button:hover,
button:active {
    background-color: #712f2f;
    border-color: #712f2f;
}
