:root {
    font-family: Helvetica, Arial, sans-serif;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #0f172a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-size: 18px;
    color: #e74c3c;
    text-align: center;
}

h3 {
    margin: 0;
    font-size: 1.5rem;
    margin-block: 1rem;
    border-bottom: 3px solid darkgray;
}

button {
    outline: none;
    padding: 5px 10px;
    width: 200px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

.imp-btn {
    margin: 1rem;
    background-color: #e74c3c;
    width: 400px;
}

.profile {
    border: 2px solid darkgray;
}

img {
    width: 50px;
    border-radius: 50%;
}

.profile-name {
    text-transform: uppercase;
}

a {
    color: dodgerblue;
    font-size: 12px;
}

label {
    display: block;
    text-align: left;
}

input {
    width: 300px;
    height: 2rem;
    margin-block: 0.5rem;
    outline: none;
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
}

.form-item {
    border: 1px solid gray;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 0.3rem;
}

.btn-danger {
    background-color: red;
    width: 80px;
    font-size: 12px;
    color: white;
    margin-inline: 1rem;
    border-radius: 5px;
}
